<h1 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:leading-9 sm:truncate">{{title}}</h1>
<hr>
<h2 class="my-4 text-xl">Books: {{data.bookCount}}</h2>
<h2 class="my-4 text-xl">Stock: {{data.stockCount}}</h2>
<h2 class="my-4 text-xl">Available: {{data.availableCount}}</h2>
<h2 class="my-4 text-xl">Authors: {{data.authorCount}}</h2>
<h2 class="my-4 text-xl">Genres: {{data.genreCount}}</h2>