<h1 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:leading-9 sm:truncate">{{title}}</h1>
<hr>
<h2>Books: {{data.bookCount}}</h2>
<h2>Stock: {{data.stockCount}}</h2>
<h2>Available: {{data.availableCount}}</h2>
<h2>Authors: {{data.authorCount}}</h2>
<h2>Genres: {{data.genreCount}}</h2>